<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JCSeeMoreLabTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C975E7951F60FCA100753C09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C975E7AE1F60FCA100753C09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C975E7B91F60FCA100753C09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
